.App {
	text-align: center;
}
div#APP-BODY {
	display: inline-block;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222239;
	height: 100vh;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.App-header h1 {
	font-size: 8em;
	font-weight: 300;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

body {
	font-family: 'Open Sans', 'Segoe UI', Geneva, Verdana, sans-serif;
	font-size: 16px;
}


/******************************************************************************
*	Containers
******************************************************************************/
div.component {
	margin: 20px 0;
	padding: 20px 0px;
}

.race-description {
	text-align: left;
}

.driver-info-card {
	margin: 0px 1.5em 1em 0.75em;
	text-align: left;
}
.driver-info-card h4, .driver-info-card h5 { 
	margin-top: 0;
	text-align: left; 
}


/******************************************************************************
*	Objects
******************************************************************************/
a.button {
	font-size: 1.5em;
	color: #fff;
	background-color: #9B399C;
	padding: 0.75em 50px;
	border-radius: 10px;
	text-decoration: none;
}

.navigator-box {
	margin: 1.5em 0.75em;
}
.navigator-img {
	max-width: 100%;
	max-height:256px;
	border-radius: 50%;
}



/******************************************************************************
*	Text
******************************************************************************/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Segoe UI', Geneva, Verdana, sans-serif;
}

h1 {
	margin: 0;
}

h2 {
	color: #000;
	font-weight: 300;
	font-size: 2em;
	padding: 0.25em;
}

h4 {
	margin: 0.5em 0;
}

h5 {
	color: #333;
	font-weight: 400;
	font-size: 1em;
	margin: 0.5em 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/******************************************************************************
*	Images/SVGs
******************************************************************************/
.svgLogo {
	color: #fff;
}
